.service {
  background: rgba(0, 0, 0, 0.05);
  padding: 1em;
}

.tabContent {
  margin: 0 auto;
  max-width: 1200px;
}

.serviceTabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.serviceTabs li {
  cursor: pointer;
  margin-right: 10px;
}
.serviceTabs li:hover,
.serviceTabs li:active {
  cursor: pointer;
  margin-right: 10px;
  color: white;
}

.serviceTabs li button {
  border-radius: 50px;
}

.tabLink {
  color: #a43c00;
  border-color: #a43c00;
}

.tabLink:hover,
.active {
  color: white !important;
  background-color: #a43c00;
}

.miniTitle {
  color: #1c558b;
  font-weight: 600;
  font-size: 38px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border: 1px solid #0054a4;
  background: white;
  text-align: center;
  margin-bottom: 3em;
}

.cardHeader {
  text-transform: uppercase;
  background: #0054a4;
  color: white;
  padding: 0.75rem 1.25rem;
  font-weight: 600;
}

.cardBody {
  flex: 1 1 auto;
  padding: 1.25em;
}

.cardBody a {
  text-transform: uppercase;
  padding: 10px 15px;
  background: var(--orange);
  color: white;
}

.cardBody a:hover {
  text-decoration: none;
  color: var(--orange);
  background: white;
  border: 1px solid var(--orange);
  transition: all 0.3s ease;
}

.channel {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 70px;
  font-weight: 600;
  line-height: 1;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

.channelText {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}
.channels {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 1em;
}

.info {
  text-transform: uppercase;
  margin-bottom: 2em;
}

.info h6 {
  font-weight: 600;
}

.install {
  /* font-size: 14px; */
  margin-top: 23px;
  margin-bottom: 23px;
  text-align: center;
}
.sme {
  text-align: center;
  border: 1px solid steelblue;
  background: #d2d2d2;
  margin: 1em auto;
  width: 77%;
  padding: 1em;
}

@media (min-width: 976px) and (max-width: 1200px) {
  .cableListing {
    max-width: 40%;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (max-width: 768px) {
  .channel {
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
  }
}
