.clients {
  background: rgb(194, 193, 193);
  margin-bottom: 1em;
}

.clientImgCont {
  display: inline-block;
  width: 40%;
}

.clientProfile {
  max-width: 50%;
  position: absolute;
  display: inline-block;
  margin-left: 2em;
}

.carousel {
  /* display: block; */
  position: relative;
}

@media screen and (max-width: 720px) {
  .clientImgCont {
    width: 100%;
    margin: 2%;
  }

  .clientProfile {
    max-width: 100%;
    position: relative;
    margin: 0.6em;
  }
}
