@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.fancy-about-text {
  font-family: "Montserrat", sans-serif;
  margin: 2em;
}

.list-group-item {
  padding: 0.55em 1.25em !important;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0 !important;
}

.techNo {
  color: #0054a4;
}

.techNo:hover {
  text-decoration: none;
  color: #0087e0;
}

@media screen and (max-width: 768px) {
  .fancy-about-text {
    font-size: 15px;
  }
}
