.topInfo {
  background: rgb(49, 49, 49);
  margin: 0 auto;
  padding: 0.2em;
  height: 2em;
  font-size: 0.8em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.topInfo1 {
  padding-left: 1em;
  float: left;
}
.topInfo2 {
  padding-right: 1em;
  float: right;
  color: white;
}
.topInfo2:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.582);
}

nav {
  margin: 0 auto;
  padding-top: 2em !important;
  background: #0054a4 !important;
}

.brandName {
  color: white !important;
  font-size: 1.6em;
}

.network {
  display: inline;
}

li {
  margin-bottom: 0;
}

@media only screen and (max-width: 550px) {
  .topInfo {
    height: 3.4em;
  }

  .topInfo1 {
    padding: 0;
    float: none;
    text-align: center;
  }
  .topInfo2 {
    padding: 0;
    float: none;
    text-align: center;
  }

  nav {
    padding-top: 3em !important;
  }

  .brandName {
    font-size: 1.2em;
  }

  .network {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
}
